.form-container {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    margin: 20px auto;
}

.edit-establishment-form input[type="text"],
.edit-establishment-form select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

.edit-establishment-form select {
    appearance: none;
    padding-right: 30px;
    background: url('arrow-down.png') no-repeat right center;
}

.edit-establishment-form input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .edit-establishment-form input[type="submit"]:hover {
        background-color: #0056b3;
    }
