@page
@model LoginModel
@{
    @if(!string.IsNullOrEmpty(Request.Query["error"]))
    {
        <div class="error-message">
            <span>@Request.Query["error"]</span>
        </div>
    }
    <div class="login-container">
    <h1>Login</h1>
        <form method="post" class="login-form">
        <input type="text" name="username" placeholder="Enter username" required>
        <input type="password" name="password" placeholder="Enter password" required>
        <input type="submit" value="Login">
    </form>
    </div>

    @section Styles{
        <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    }
}
